POSTGRES_USER=students
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
POSTGRES_HOST=database-1.c32ikym4q9dx.ap-southeast-1.rds.amazonaws.com
POSTGRES_PORT=5432
DATABASE_URL="postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
SCHEMA_NAME=

REDIS_URL=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=

